# 파이썬 - SQLite 연동 절차

In [6]:
import sqlite3 #파이썬은 2버전(더 이상 지원을 하지 않음)이 있고, 3버전이 있음 / 파이썬3에는 SQLite 라이브러리가 기본 탑재

# test.db 파일 안에 phonebook 테이블 생성 
# 테이블을 생성할 때는 테이블을 관리할 DB의 파일부터 생성을 해줘야 한다. 확장자가 db인 파일을 어떻게 생성할 수 있을까? connect함수를 통해 생성
conn = sqlite3.connect('test.db') #연결객체를 반환해줌

cursor = conn.cursor() #cursor: 오라클DB에서의 마지막 plsql, 데이터베이스는 단일 쿼리문으로 데이터를 주고받는 형식으로 처리가 되어짐. 
#오라클데이터베이스는 단일 쿼리문으로 끝나는 것이 아니라 명령문들을 작성해서 데이터들의 처리가 가능한 구문을 제공해주고 있었음 
#프로그래밍에서 제공해주는 구문들을 데이터베이스에서도 제공해주고 있었음. 그때 제공되는 구문들을 plsql이라고 함(절차적프로그래밍언어)
#그때 select문을 전송하면 select문에 해당하는 데이터를 DB가 리턴해주는 plsql에서는 그 데이터를 cursor의 단위로 레코드 단위로 반환해주고 있었음 (jsbc에서는 resultset!!)

#cursor는 연결객체를 통해서 실질적인 데이터를 조작할 수있음
#cursor에서 제공하는 execute메소드에 쿼리문을 넣어주면 됨
cursor.execute('create table phonebook('
               'name char(30), phone char(30), email char(60) primary key)'
               ) #줄바꿈이 이루어지는 순간 문자열로 인식하지 못함 -> 라인바이라인으로 각각 처리를해주면 됨

In [7]:
# 데이터 삽입
cursor.execute('''
    insert into phonebook(name, phone, email) values(?, ?, ?)
    ''', ('박명수', '010-1111-1111', 'myongsoo@company.com')) #튜플의 형태로 데이터를 담아주면 됨  

print(cursor.lastrowid) # 필드의 값을 출력 / 마지막 rowdata의 id를 가지고 있는 필드의 의미 - 마지막으로 추가되거나 변경된 레코드 번호

cursor.execute('''
    insert into phonebook(name, phone, email) values(?, ?, ?)
    ''', ('유재석', '010-2222-2222', 'jaesuk@company.com'))

print(cursor.lastrowid)

conn.commit() #데이터베이스에 바로 반영이 되게끔 트랜잭션 기능에서 commit 명령을 활용하도록 함.

1
2

In [4]:
# 데이터 읽어오기

cursor.execute('select * from phonebook') #쿼리에 부합하는 데이터를 반환해주게 됨

rows = cursor.fetchall() #반환된 데이터의 메모리 주소값을 반환해줌 

for row in rows:
    print(f"name:{row[0]}, phone:{row[1]}, email:{row[2]}")

name:유재석, phone:010-2222-2222, email:jaesuk@company.com

In [1]:
#import sqlite3 

# 데이터 수정하기 (데이터 삽입 동작과 동일)
#conn = sqlite3.connect('test.db') 

#cursor = conn.cursor() 

cursor.execute('''
    update phonebook set phone = ?, email = ? where name = ?
    ''', ('010-5555-5555', 'parkms@company.com', '박명수'))

conn.commit()

In [3]:
# 데이터 삭제하기

cursor.execute('''
    delete from phonebook where email = ?
    ''', ('parkms@company.com', )) #주의) ?에 컬럼 값을 넣을때 꼭 튜플형태여야 함!! 또한, 하나의 값으로 튜플을 전달해야할 때 맨 뒤에 콤마(,)를 넣어줘야 함

conn.commit() #DB에 최종적인 반영하도록 함

In [5]:
cursor.close() #쿼리문 수행이 끝나면 각각 close를 시켜주도록 한다.
conn.close()